<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectaux">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectAux">


        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".fgtpassword"/>
        <activity
            android:name=".nopop"
            android:theme="@style/pop" />
        <activity android:name=".ListofPosts" />
        <activity android:name=".NewPost" />
        <activity android:name=".acc_details" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Homepg" />
        <activity
            android:name=".userpop"
            android:theme="@style/pop" />
        <activity
            android:name=".emailpop"
            android:theme="@style/pop" />
        <activity
            android:name=".changepasswordpop"
            android:theme="@style/pop" />
        <activity android:name=".Loading_into_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>